@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  background: #f5f5f5;
  margin: auto;
  font-family: "Poppins";
  padding: 10;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  background: #0f1626;
}
.sabanci-logo {
  display: flex;
  width: 20%;
  height: 50%;
}

label.logo {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 30px;
  padding-top: 0.6vh;
  letter-spacing: 2px;
}

label.logo-dark {
  color: #0f1626;
  font-weight: bold;
  font-size: 30px;
  padding-top: 0.6vh;
  letter-spacing: 2px;
}
.nav-element {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-element li {
  list-style: none;
}

.nav-element li a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.3px;
}

nav.dark-nav {
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  background: white;
}
.nav-element-dark {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-element-dark li {
  list-style: none;
}

.nav-element-dark li a {
  color: #0f1626;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.3px;
}
.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.individual-container {
  margin: 0px 150px;
}

.publication-icon-container {
  margin-left: 5px;
  display: flex;
  align-self: center;
  margin: 20px;
}

.publication-icon {
  width: 50px;
}

.publication-li {
  display: flex;
  margin: 20px;
}

.education-list {
  list-style: none;
}
.container {
  margin: 0px 100px;
}

.p {
  padding: 20px 0px;
}
th,
td {
  padding: 15px;
}
#t01 {
  width: 100%;
}

#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
  background-color: #fff;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  nav {
    align-content: inherit;
  }

  .container {
    margin: 30px;
  }
  table {
    background-color: #8bc34a;
  }

  .publication-li {
    flex-direction: column;
    text-align: left;
  }

  .individual-container {
    margin: 0px;
  }

  .image-container {
    min-height: 250px !important;
  }

  .profile-image {
    top: 30% !important;
  }

  .card {
    flex-direction: column;
  }
  .nav-element {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: #0f1626;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.6s ease-in;
    z-index: 1;
  }

  .nav-element li {
    opacity: 1;
    display: inline-block;
  }
  .burger {
    display: block;
    margin-top: 8px;
  }
  .footer-container {
    color: white;
    background-color: #0f1626;
    opacity: 0.9;
    font-size: 15pt;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .contact-section .contact-right {
    display: none;
  }

  .nav-clicked {
    transform: translateX(0%);
  }
}

section {
  padding: 10em 5em;
}

.intro-section {
  text-align: center;
  background: whitesmoke;
}

.dark-section {
  text-align: center;
  background: #0f1626;
  justify-content: space-between;

  ul li {
    padding: 0.5em;
    font-size: 1.15em;
    color: coral;
  }

  ul li a {
    color: white;
    text-decoration: none;
    display: block;
  }
}

.dark-section-resources {
  text-align: left;
  background: #f5f5f5;
  justify-content: space-between;
  padding: 10em 5em;

  ul li {
    padding: 0.5em;
    font-size: 1.15em;
    color: coral;
  }

  ul li a {
    color: #0f1626;
    text-decoration: none;
    display: block;
  }
}

.news-section {
  text-align: left;
  background: #0f1626;
  justify-content: space-between;

  ul li {
    padding: 0.5em;
    font-size: 1.15em;
    color: coral;
  }

  ul li a {
    color: white;
    text-decoration: none;
    display: block;
  }
}

.line1 {
  border-radius: 15%;
}
.student-section {
  text-align: center;
  background-image: linear-gradient(#4b6cb7, #182848);
  justify-content: space-between;
}
.contact-section {
  background: #f5f5f5;

  .contact-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}

.main-section {
  text-align: center;
  align-items: center;
  background: #f5f5f5;
}

.contact-section .contact-left {
  background-color: #f5f5f5;
  border-radius: 2%;
  border-width: 2px;
}
.contact-section.contact-right {
  position: relative;
}
form {
  display: flex;
  flex-direction: column;
  place-content: space-evenly;
}

label {
  color: #010522cc;
}

h2.red-text {
  color: black;
}

h2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 19pt;
}
h2.blue-text {
  flex-direction: flex-end;
}

.send-message-cta {
  border-radius: 4px;
  margin-top: 10px;
}

.input-area {
  border-radius: 4px;
  margin-top: 2px;
}

.footer-container {
  padding: 10px;
  color: white;
  text-align: right;
  background-color: #0f1626;
  opacity: 0.9;
  font-size: 15pt;
  justify-content: space-between;
}
h1.title {
  color: #eaecf0;
  font-size: 2em;
  margin-top: -2.5em;
}
h1.black-title {
  color: #0f1626;
  font-size: 2em;
  margin-top: -2.5em;
}
h1.title-resources {
  text-align: center;
  color: white;
}
.contact-info {
  color: #0f1626;
  padding-right: 1em;
}

.card {
  background: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  position: relative;
  min-height: 300px;
  max-width: 700px;
  max-height: 1000px;
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  grid-template-columns: 1fr 2fr;
  margin: 20px auto;
  padding: 10px;
}

.card h2 {
  margin: 0;
  padding: 0 1rem;
}
.person-title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: -5;
}

.card-info {
  flex: 1;
  padding: 20px;
  margin: 60px auto;
}

path {
  fill: white;
}

.image-container {
  flex: 1;
  min-height: 200px;
  margin-top: 0px;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.profile-image {
  min-width: 250px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.news-image {
  width: 400px;
  height: 250px;
  object-fit: contain;
  margin-top: 0;
}

.icons {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    color: #4caf50;
    transform: rotate(22deg);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
}

footer {
  display: flex;
  flex-direction: row;
}

/* Style the tab */
.tab {
  overflow: hidden;
  display: flex;
  text-align: center;
  margin-top: 1px;
}
.temp {
  display: flex;
  flex-direction: row;
}

.temp3 {
  display: flex;
  flex-direction: column;
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  padding: 1rem;

  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: "Poppins";
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  margin: 20px;
  text-align: left;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
